<div [ngStyle]="{'background' : celda[0][0].color}" [ngClass]="celda[0][0].cara"
(mousemove)="move($event)" (mousedown)="down()" (mouseup)="up()" id="1"></div>

<div [ngStyle]="{'background' : celda[0][1].color}" [ngClass]="celda[0][1].cara"
(mousemove)="move($event)" (mousedown)="down()" (mouseup)="up()" id="2"></div>

<div [ngStyle]="{'background' : celda[0][2].color}" [ngClass]="celda[0][2].cara"
(mousemove)="move($event)" (mousedown)="down()" (mouseup)="up()" id="3"></div>

<div [ngStyle]="{'background' : celda[1][0].color}" [ngClass]="celda[1][0].cara"
(mousemove)="move($event)" (mousedown)="down()" (mouseup)="up()" id="4"></div>

<div [ngStyle]="{'background' : celda[1][1].color}" [ngClass]="celda[1][1].cara"
(mousemove)="move($event)" (mousedown)="down()" (mouseup)="up()" id="5"></div>

<div [ngStyle]="{'background' : celda[1][2].color}" [ngClass]="celda[1][2].cara"
(mousemove)="move($event)" (mousedown)="down()" (mouseup)="up()" id="6"></div>

<div [ngStyle]="{'background' : celda[2][0].color}" [ngClass]="celda[2][0].cara"
(mousemove)="move($event)" (mousedown)="down()" (mouseup)="up()" id="7"></div>

<div [ngStyle]="{'background' : celda[2][1].color}" [ngClass]="celda[2][1].cara"
(mousemove)="move($event)" (mousedown)="down()" (mouseup)="up()" id="8"></div>

<div [ngStyle]="{'background' : celda[2][2].color}" [ngClass]="celda[2][2].cara"
(mousemove)="move($event)" (mousedown)="down()" (mouseup)="up()" id="9"></div>