h2{
	text-align: center;
	font-size: 60px;
	background: -webkit-linear-gradient(#07209C ,#ffffff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.contenedor{
	width: 220px;
	height: 220px;
	position: relative;
	margin: 27.7% auto;
	-webkit-perspective: 1000px;
}
.cubo{
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 4%;
	transform-style: preserve-3d;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-self: center;
	align-items: flex-start;
	justify-content: center;
}
.arri{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-self: center;
	align-items: flex-start;
	justify-content: center;
}

.medio{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-self: center;
	align-items: stretch;
	justify-content: center;
}
#container{
	background-image: url("/assets/fondo.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
}
img{
	height: 45px;
	width: 45px;
}
button{
	background-color: transparent;
	border: transparent;
	cursor: pointer;
	outline: none;
}
label{
	color: white;
	margin-top: 1%;
	font: italic bold 16px/30px "Times New Roman", Times, serif;
}
input[type="submit"]{
	text-align: center;	
}
i{
	color: white;
}
#inp{
  height: 35%;
}

#cont{
	margin-top: 6%;
}
#contCube{
	margin-top: -0.6%;
}
#dif{
	width: 90px;
}
table tr th{
	padding: 0 0 0 14px;
}
#bottomI{
	padding: 15px 0px;
	font-size: 25px;
}
#cont{
	width:300px;
	height: 125px;
	word-wrap: break-word; 
	margin-top: -68px;
}
#imagen{
	width: 20px;
	height: 20px;
	color: black;
}


