<div class="container" id="container" (keydown)="flechas($event)">
	<h2>CUBO DE RUBIK</h2>
	<br>
	<div class="row" >
		<div class="col-12 col-md-6" >
			<div class="row justify-content-center">
				<div class="col-12 col-md-6">
					<div class="row justify-content-center">
						<div class="col-5 col-md-8">
							<table>
								<tr>
									<th>
										<label>
											COLUMNA: 
										</label>
									</th>
									<th>
										<input type="number" (keypress)="validarNum($event)"
										max="3" min="1" [(ngModel)]="column">
									</th>
								</tr>
								<tr align="right">
									<th>
										<label>
											FILA: 
										</label>
									</th>
									<th>
										<input type="number" (keypress)="validarNum($event)"
										max="3" min="1" [(ngModel)]="row">
									</th>
								</tr>
							</table>	
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="row justify-content-center">
				<div class="col-12 col-md-6">
					<div class="flex">
						<div class="arri">
					<button (click)="arriba()">
					<i class="fas fa-caret-up fa-4x"></i>
					</button>
				</div>
				<div class="medio">
					<button id="dif" (click)="izquierda()">
						<i class="fas fa-caret-left fa-4x"></i>
					</button>
					<button (click)="reset()">
						<img src="/assets/cube.png">
					</button>
					<button id="dif" (click)="derecha()">
						<i class="fas fa-caret-right fa-4x"></i>
					</button>
				</div>
				<div class="arri">
					<button (click)="abajo()">
						<i class="fas fa-caret-down fa-4x"></i>
					</button>
				</div>		
				</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-12 col-md-6 row justify-content-center">
					<div class="medio">
						<button (click)="back()">
							<i class="fas fa-undo fa-2x"></i>
						</button>	
						<button (click)="mess()">
							<img src="/assets/cuboD.png">
						</button>
						<button (click)="resetPosicion()">
							<i class="fas fa-crosshairs fa-2x"></i>
						</button>
					</div>		
				</div>
			</div>
			<br>
			<div class="row justify-content-center">
				<div class="col-12 col-md-6">
					<div class="row justify-content-center">
						<div class="col-5 col-md-8">
							<label>
								CUBO: {{validar()}} 
							</label>
						</div>
					</div>
				</div>
			</div>
			<br>
			
		</div>
		<div class="col-12 col-md-6 row justify-content-center">
			<div class="col-6" id="contCube">
				<div class="contenedor">
					<div class="cubo" id="rotacion"
					[ngStyle]="{'transform': rotate(), 'transition': transicionCubo()}">
						<app-cara [cara]="cubo.caras"></app-cara>
					</div>
				</div>
				
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="row">
				<div class="col-5 col-md-8">
				    <div class="dropdown dropright">
					    <button data-toggle="dropdown">
					      <i class="far fa-question-circle" id="bottomI"></i>
					    </button>
					    <div class="dropdown-menu" id="cont">
					     <p> 
				        	<i class="fas fa-arrows-alt" id="imagen"></i>
				        	 Movimientos del cubo
				        	<br>
				        	<img src="/assets/cube.png" id="imagen">
				        	 Resetea el cubo
				        	<br>
				        	<i class="fas fa-undo" id="imagen"></i>
				        	Deshace los movimientos anteriores
				        	<br>
				        	<img src="/assets/cuboD.png" id="imagen">
				        	Hace movimientos aleatorios
				        	<br>
				        	<i class="fas fa-crosshairs" id="imagen"></i>
				        	Resetea la posición del cubo
				        	</p>
					    </div>
  					</div>
				</div>
			</div>
		</div>
	</div>
</div>	