<div class="cara" id="frente">
	<app-celda [celda] = "cara[0].celdas"></app-celda>
</div>
<div class="cara" id="derecha">
	<app-celda [celda] = "cara[1].celdas"></app-celda>
</div>
<div class="cara" id="fondo">
	<app-celda [celda] = "cara[2].celdas"></app-celda>
</div>
<div class="cara" id="izquierda">
	<app-celda [celda] = "cara[3].celdas"></app-celda>
</div>
<div class="cara" id="arriba">
	<app-celda [celda] = "cara[4].celdas"></app-celda>
</div>
<div class="cara" id="abajo">
	<app-celda [celda] = "cara[5].celdas"></app-celda>
</div>