.cara{
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 4%;
}
#frente{
	transform: translateZ(110px);
}
#derecha{
	transform: translateX(110px) rotateY(90deg);
}
#fondo{
	transform: translateZ(-110px) rotateY(180deg);
}
#izquierda{
	transform: translateX(-110px) rotateY(-90deg);
}

#arriba{
	transform: translateY(-110px) rotateX(90deg);
}
#abajo{
	transform: translateY(110px) rotateX(-90deg);
}